html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

table {
    padding:0;
    width:100%;
}

table th {
    font-size: 30px;
}

table td {
    padding:20px;
}

input {
    width:100%;
    padding:5px;
}

textarea {
    padding:5px;
}

a {
    text-decoration: none;
}

div#login-container {
    padding: 10% 0;
}

div#login-form {
    width:500px;
    height:fit-content;
    margin:0 auto;
    padding:0 120px;
}

div#addtask-container, div#admin-container {
    width:100%;
    margin: 10px auto 0 auto;
    padding:0 100px 50px 100px;
}

div#admin-container {
    width: 70%;
}

table#header-table {
    height:100%;
}

table#header-table tr td#header-label {
    float:left;
    height:100%;
    color:rgb(255, 255, 255);
    font-size:25px;
    padding-left:30px;
    font-weight:600;
}

table#header-table tr td#header-icon {
    float:right;
    height:100%;
    padding-right: 30px;
}

table#header-table tr td#header-icon img {
    width:30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

td#edit-delete {
    border-top: 1px solid rgb(0,0,0);
}

td#edit-delete a {
    float: right;
}

textarea#task-description {
    width:100%;
    height:260px;
}

#login-form h1{
    text-align: center;
}

table#selected-task {
    max-width: 950px;
    margin:10px auto;
    border: 1px solid rgb(0,0,0);
}

table#selected-task tr th {
    padding: 10px 0;
    text-align: center;
    width:70%;
}

table#selected-task #author, #assignee, #status {
    width:30%;
    text-align: left;
    font-weight: 600;
    padding: 0;
}

table#selected-task tr td#description {
    border-top: 1px solid rgb(0,0,0);
    padding: 10px;
}

table#selected-task tr td#description div {
    min-height: 350px;
    white-space: pre-wrap;
}

table#tasks {
    margin-bottom: 10px;
}

table#tasks tr td a{
    color: rgb(20, 29, 75);
    font-weight: 600;
}

table#tasks tr td span.display-onhold, 
table#tasks tr td span.display-todo, 
table#tasks tr td span.display-inprogress, 
table#tasks tr td span.display-resolved {
    padding-right:40px;
    font-weight: 600;
    font-size:19px;
    float:right;
}

table#tasks tr td span.display-onhold {
    color:rgb(177, 159, 0);
}

table#tasks tr td span.display-todo {
    color:rgb(94, 94, 94);
}

table#tasks tr td span.display-inprogress {
    color:rgb(172, 92, 0);
}

table#tasks tr td span.display-resolved {
    color:rgb(0, 138, 7);
}

table#tasks tr:nth-child(odd) {
    background-color:rgba(140, 161, 230, 0.3);
}

table#tasks tr:nth-child(even) {
    background-color: rgba(0, 50, 216, 0.3);
}

span.results {
    padding: 0 10px;
}

#delete-task {
    margin-right: 50px;
}

a#signup, a#group-signup, a#login-group-message {
    font-size: 13px;
}

a#group-signup {
    display:block;
}

a#back {
    padding-left: 30px;
}

a#back img {
    padding-top:10px;
    width: 30px;
}

body.login {
    background-color: rgb(255, 255, 255);
}

div.container {
    width:100%;
    height:100%;
    margin: 0 auto;
}

div.row-header {
    height: 10%;
    background-color: rgb(0, 50, 216);
}

div.row-body {
    height: 90%;
}

.header-dropdown {
    float: right;
}

div.nav {
    float:left;
    width:10%;
    height: 100%;
    margin:0;
}

div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
}

div.nav ul li {
    text-align: center;
}

div.nav ul li a {
    display:block;
    padding:30px;
    text-decoration: none;
    font-weight: 600;
    font-size:13px;
    color: black;
}

div.nav ul li a:hover {
    background-color:rgb(0, 50, 216);
    color:rgb(255, 255, 255);
}

div.members-body {
    padding: 0;
    width:90%;
    height: 100%;
    float:right;
    border-left: 3px solid rgb(0, 50, 216);
}

div.error {
    color: rgb(255, 0, 0);
    font-size: 13px;
}

div.td-content {
    padding:8px 12px;
}
/*
    Dropdown Menu
*/
div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown-menu, div.dropdown-menu-header, div.dropdown-menu-login {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 2px;
    text-align: center;
    width: fit-content;
    overflow:auto;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
    padding:5px 8px;
    z-index: 1;
}

div.dropdown-menu-login p {
    line-height: 1.5;
    font-size: 13px;
    text-align:left;
}

div.dropdown-menu-login p span {
    font-style: italic;
    color: rgb(112, 112, 112);
}

div.dropdown-menu, div.dropdown-menu-header p a {
    color: rgb(0,0,0);
}

div.dropdown-menu-header p a#logout {
    font-weight: 600;
}

div.dropdown-menu p a#on-hold:hover {
    color:rgb(158, 142, 0);
}

div.dropdown-menu p a#todo:hover {
    color:rgb(112, 112, 112);
}

div.dropdown-menu p a#in-progress:hover {
    color:rgb(172, 92, 0);
}

div.dropdown-menu p a#resolved:hover {
    color:rgb(0, 138, 7);
}

.dropdown:hover span#dropdown-status {
    color: rgb(0, 50, 216);
    font-weight: 700;
}

span.display-onhold#dropdown-status {
    color:rgb(158, 142, 0);;
}

span.display-todo#dropdown-status {
    color:rgb(112, 112, 112);
}

span.display-inprogress#dropdown-status {
    color:rgb(172, 92, 0);
}

span.display-resolved#dropdown-status {
    color:rgb(0, 138, 7);;
}
/*
    Pagination
*/
a.page-link {
    margin-right: 5px;
    text-decoration:underline;
}

.dropdown:hover span#assignee-dropdown-sts {
    color:rgb(140, 161, 230);
}

span.display-assignee#assignee-dropdown-sts {
    font-style: italic;
    font-weight: 500;
}

.dropdown:hover .dropdown-menu-login {
    display: block;
}

.dropdown:hover .dropdown-menu-header {
    display: block;
    right:5px;
    top: 25px;
}

.dropdown:hover .dropdown-menu {
    float: right;
    display: block;
}

.dropdown-menu-header p a:hover {
    color: rgb(0, 50, 216);
}

span.task-suffix {
    color: rgb(97, 97, 97);
    font-weight: 500;
}

input.submit {
    background-color: rgb(25, 65, 247);
    width:fit-content;
    padding:4px;
    border-radius:7px;
    float:right;
    color:rgb(255, 255, 255);
}

input.cancel {
    width:fit-content;
}
/*
    Alerts
*/
.alerts {
    list-style-type: none;
    overflow: hidden;
    padding:0;
}

.alerts li {
    padding:5px;
    font-weight: 600;
    text-align: center;
}

.alerts li.success {
    border:3px solid rgb(4, 201, 4);
    background-color: rgb(213, 248, 203);
    color:rgb(4, 201, 4);
}

.alerts li.warning {
    border:3px solid rgb(255, 196, 0);
    background-color: rgb(245, 226, 165);
    color:rgb(255, 196, 0);
}

.alerts li.error {
    border:3px solid rgb(255, 0, 0);
    background-color: rgb(213, 248, 203);
    color:rgb(255, 0, 0);
}