html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

table {
    padding:0;
    width:100%;
}

table th {
    font-size: 30px;
}

table td {
    padding:20px;
}

input {
    width:100%;
    padding:5px;
}

textarea {
    padding:5px;
}

a {
    text-decoration: none;
}

div#login-container {
    padding: 10% 0;
}

div#login-form {
    width:500px;
    height:fit-content;
    margin:0 auto;
    padding:0 120px;
}

div#addtask-container {
    width:100%;
    margin: 10px auto 0 auto;
    padding:0 100px 50px 100px;
}

td#edit-delete {
    float:right;
}

textarea#task-description {
    width:100%;
    height:260px;
}

#login-form h1{
    text-align: center;
}

table#selected-task {
    padding:10px 15px;
    border:1px solid black;
    border-radius:10px;
    width:85%;
    background-color: rgb(224, 222, 236);
    margin:50px auto;
}

table#selected-task #author, #assignee, #status {
    text-align: right;
    padding: 5px;
}

table#selected-task tr td#description {
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    height: 200px;
}

table#tasks tr td a{
    color: rgb(218, 218, 218);
}

table#tasks tr:nth-child(odd) {
    background-color:rgb(140, 161, 230);
}

table#tasks tr:nth-child(even) {
    background-color: rgb(70, 113, 255);
}

#edit-task, #delete-task {
    padding:10px;
    text-decoration: underline;
}

a#signup {
    font-size: 13px;
}

a#back {
    padding:40px;

}

body.login {
    background-color: rgb(255, 255, 255);
}

div.container {
    width:100%;
    height:100%;
    margin: 0 auto;
}

div.row-header {
    height: 13%;
    background-color: rgb(0, 50, 216);
}

div.row-body {
    height: 87%;
}

div.header {
    /* background-color: rgb(0, 50, 216); */
    padding:25px 30px;
}

div.header h1 {
    display:inline;
    color:rgb(255, 255, 255);
}

div.header a {
    float:right;
    padding: 20px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div.nav {
    float:left;
    width:13%;
    height: 100%;
    margin:0;
    /* border-right: 3px solid rgb(0, 50, 216); */
    /* background-color:rgb(221, 218, 218); */
}

div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
}

div.nav ul li {
    text-align: center;
    /* padding:30px 35px; */
    /* border-bottom: 1px solid black; */
    /* border-right: 3px solid rgb(0, 50, 216); */
}

div.nav ul li a {
    display:block;
    padding:30px;
    text-decoration: none;
    font-weight: 600;
    font-size:13px;
    color: black;
}

div.nav ul li a:hover {
    background-color:rgb(0, 50, 216);
    color:rgb(255, 255, 255);
}

div.members-body {
    padding: 0;
    width:87%;
    height: 100%;
    float:right;
    border-left: 3px solid rgb(0, 50, 216);
}

div.error {
    color: rgb(255, 0, 0);
}

div.td-content {
    padding:8px 12px;
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 2px;
    text-align: center;
    width: fit-content;
    overflow:auto;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
    padding:5px 8px;
    z-index: 1;
}

div.dropdown-menu p a {
    color: rgb(0,0,0);
}

.dropdown:hover span{
    font-size: 18px;
    color: rgb(0, 50, 216);
    font-weight: 700;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

input.submit {
    background-color: rgb(25, 65, 247);
    width:fit-content;
    padding:4px;
    border-radius:7px;
    float:right;
    color:rgb(255, 255, 255);
}

input.cancel {
    width:fit-content;
}

.alerts {
    list-style-type: none;
    overflow: hidden;
    padding:0;
}

.alerts li {
    padding:5px;
    font-weight: 600;
    text-align: center;
}

.alerts li.success {
    border:3px solid rgb(4, 201, 4);
    background-color: rgb(213, 248, 203);
    color:rgb(4, 201, 4);
}

.alerts li.warning {
    border:3px solid rgb(255, 196, 0);
    background-color: rgb(245, 226, 165);
    color:rgb(255, 196, 0);
}

.alerts li.error {
    border:3px solid rgb(255, 0, 0);
    background-color: rgb(255, 188, 188);
    color:rgb(255, 0, 0);
}