/**
 *       Author: Richard Pinegar
 *       Date: 12/01/2020
 *  
 *       Stylesheet for logins, newuser, group, and single-user views
 *
 *       1. Elements
 *       2. Containers
 *       3. Navigation
 *       4. Tables
 *       5. Forms
 *       6. Miscellaneous
 *       7. Dropdown Menus
 *       8. Pagination
 *       9. Alerts
 */

/*
    1. Elements
*/

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

table {
    padding:0;
    width:100%;
}

table th {
    font-size: 25px;
}

table td {
    padding:15px;
}

input {
    width:100%;
    padding:5px;
}

textarea {
    padding:5px;
    resize: none;
}

a {
    text-decoration: none;
}

/*
    2. Containers
*/

div#login-container {
    padding: 10% 0;
}

div#addtask-container,
div#edittask-container, 
div#admin-container {
    width: 100%;
    border: 1px solid rgb(0,0,0);
}

div#addtask-container,
div#edittask-container {
    margin: 0 auto;
    padding: 30px 150px;
}

div#admin-container {
    margin: 0 auto;
    padding: 30px 0px;
}

div#login-form {
    position: relative;
    width:500px;
    height:fit-content;
    margin:0 auto;
    padding:0 120px;
}

div.container {
    width:100%;
    height:100%;
}

div.row-header {
    height: 65px;
    background-color: rgba(0, 50, 216, 0.9);
}

div.row-nav {
    width: 100%;
    height: fit-content;
}

div.row-body {
    width: 100%;
    float:left;
    height: fit-content;
}

div.members-body {
    width: 1100px;
    padding: 0;
    margin: 0 auto;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

div.form-container {
    width: 90%;
    margin: 0 auto;
}

/*
    3. Navigation
*/

div.nav {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(112, 112, 112);
}

div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

div.nav ul li {
    margin: 0 auto;
    float: left;
}

div.nav ul li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 35px 30px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(0,0,0);
}

div.nav ul li a table {
    width: 123px;
    margin: 0 auto;
}

div.nav ul li a table#nav-last {
    width: 125px;
}

div.nav ul li a table tr td {
    margin: 0;
    padding: 0;
    text-align: left;
}

div.nav ul li a img {
    height: 18px;
    margin-right: 15px;
    filter: none;
}

div.nav ul li a:hover {
    background-color:rgb(0, 50, 216);
    color:rgb(255, 255, 255);
}

div.nav ul li a:hover .nav-img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/*
    4. Tables
*/

table#header-table {
    position: relative;
    width:1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

table#header-table tr td#header-label,
table#header-table tr td#header-icon {
    color:rgb(255, 255, 255);
}

table#header-table tr td#header-label {
    float: left;
    margin: 0 49px;
    padding: 17px 0;
    text-align: left;
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
}

table#header-table tr td#header-icon {
    height: 100%;
    padding: 12px 0 0 0;
    position: absolute;
    right: 33px;
}

table#header-table tr td#header-icon div.header-dropdown {
    margin: 0 35% 0 auto;
}

table#header-table tr td#header-icon img {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

table.row-body-header-table {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

table.row-body-header-table tr td.task-header {
    text-align: left;
    margin: 0;
    padding: 30px 0;
    font-weight: 600;
    font-size: 21px;
}

table.selected-task-layout tr td:nth-child(1) {
    width: 65%;
}

table.selected-task-layout tr td:nth-child(2) {
    width: 35%;
    vertical-align: top;
    padding:0;
    margin:0;
}

table#selected-task {
    margin: 0 auto;
    padding: 10px 0 0 10px;
}

table#selected-task tr th {
    padding: 10px;
    border: 1px solid rgb(0,0,0);
    border-radius: 3px;
    text-align: center;
}

table#selected-task tr td#description {
    margin: 10px 0;
    padding: 20px;
    height: 200px;
    border: 1px solid rgb(0,0,0);
    border-radius: 3px;
}

table#selected-task tr td#description div {
    max-height: 243px;
    min-height: 200px;
    white-space: pre-wrap;
    overflow-y: scroll;
}

td#edit-delete {
    padding: 20px 0 0 0;
    float: right;
    text-align: right;
}

td#edit-delete a#delete-task,
td#edit-delete a#delete-task-group {
    margin-left: 50px;
}

table#selected-task-data-table {
    text-align: left;
    margin: 25px auto;
    padding: 0;
}

table#selected-task-data-table tr td {
    padding: 5px;
    font-size: 14px;
}

.display-author {
    display:block;
    width:fit-content;
    border: 1px solid rgb(112, 112, 112);
    padding: 4px 5px;
    font-weight: 600;
}

.selected-task-data-dropdown-container {
    padding: 4px 5px 3px 5px;
    border: 1px solid rgb(112, 112, 112);
}

.selected-task-data-dropdown-container span {
    padding-right: 4px;
}

.selected-task-data-dropdown-container img {
    padding-left: 3px;
    border-left: 1px solid rgb(112, 112, 112);
}

td div span.task-suffix {
    color: rgb(97, 97, 97);
    font-weight: 500;
    font-style: italic;
}

table#tasks {
    margin-bottom: 20px;
}

table#tasks tr td a {
    color: rgb(20, 29, 75);
    font-size: 16px;
    font-weight: 600;
}

table#tasks tr td span.display-onhold, 
table#tasks tr td span.display-todo, 
table#tasks tr td span.display-inprogress, 
table#tasks tr td span.display-resolved {
    padding-right:40px;
    font-weight: 600;
    font-size: 19px;
    float: right;
}

table#tasks tr td span.display-onhold {
    color:rgb(177, 159, 0);
}

table#tasks tr td span.display-todo {
    color:rgb(94, 94, 94);
}

table#tasks tr td span.display-inprogress {
    color:rgb(172, 92, 0);
}

table#tasks tr td span.display-resolved {
    color:rgb(0, 138, 7);
}

table#tasks tr:nth-child(odd) {
    background-color:rgba(140, 161, 230, 0.3);
}

table#tasks tr:nth-child(even) {
    background-color: rgba(0, 50, 216, 0.3);
}

/*
    5. Forms
*/

form#task-form {
    max-width: 500px;
    margin: 0 auto;
}

form#task-form select {
    margin-top: 5px;
    padding: 5px;
}

form#task-form input#password,
form#task-form input#default-password,
form#task-form input#password_confirm,
form#task-form input#add-user {
    margin-top: 5px;
}

form#task-form input#default-password {
    border: 1px solid rgb(90, 90, 90);
}

textarea#task-description {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    min-height: 180px;
}

#login-form h1{
    text-align: center;
}

a#signup,
a#group-signup, 
a#login-group-message {
    font-size: 13px;
}

a#group-signup {
    display:block;
}

input.submit {
    background-color: rgb(25, 65, 247);
    width: fit-content;
    padding: 6px;
    border-radius: 7px;
    float: right;
    color:rgb(255, 255, 255);
}

input.cancel {
    width: fit-content;
}

/*
    6. Miscellaneous
*/

a#back {
    padding-left: 30px;
}

a#back img {
    padding-top: 10px;
    width: 30px;
}

label#account-user-label {
    font-weight: 600;
}

div.form-container form#task-form p {
    font-size: 13px;
}

/*
    7. Dropdown Menus
*/

div.dropdown {
    position: relative;
    display: inline-block;
}

div.header-dropdown {
    float: right;
}

div.dropdown-menu, 
div.dropdown-menu-header, 
div.dropdown-menu-login {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 2px;
    text-align: right;
    width: fit-content;
    overflow:auto;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.3);
    padding: 5px 25px;
    z-index: 1;
}

div.dropdown-menu-login p {
    line-height: 1.5;
    font-size: 13px;
    text-align:left;
}

div.dropdown-menu-login p span {
    font-style: italic;
    color: rgb(112, 112, 112);
}

div.dropdown-menu, div.dropdown-menu-header p a {
    color: rgb(0,0,0);
}

div.dropdown-menu-header p a#logout {
    font-weight: 600;
}

div.dropdown-menu p a {
    color: rgb(0,0,0);
}

.dropdown #dropdown-menu-status p a,
.dropdown #dropdown-menu-assignee p a {
    font-size: 14px;
    font-weight: 600;
}

.dropdown #dropdown-menu-assignee p a {
    font-style: italic;
}

.dropdown #dropdown-menu-assignee p a.assignee:hover {
    color: rgb(0, 50, 216);
}

div.dropdown-menu p a#on-hold:hover {
    color:rgb(158, 142, 0);
}

div.dropdown-menu p a#todo:hover {
    color:rgb(112, 112, 112);
}

div.dropdown-menu p a#in-progress:hover {
    color:rgb(172, 92, 0);
}

div.dropdown-menu p a#resolved:hover {
    color:rgb(0, 138, 7);
}

span#dropdown-status {
    font-weight: 600;
}

div.dropdown:hover span#dropdown-status {
    color: rgb(0, 50, 216);
}

span.display-onhold#dropdown-status {
    color:rgb(158, 142, 0);;
}

span.display-todo#dropdown-status {
    color:rgb(112, 112, 112);
}

span.display-inprogress#dropdown-status {
    color:rgb(172, 92, 0);
}

span.display-resolved#dropdown-status {
    color:rgb(0, 138, 7);;
}

span.display-assignee#assignee-dropdown-sts {
    font-style: italic;
    font-weight: 500;
}

.dropdown:hover .dropdown-menu-login {
    display: block;
}

.dropdown:hover .dropdown-menu-header {
    display: block;
    right: 5px;
    top: 35px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    left: 70px;
}

.dropdown:hover #dropdown-menu-status,
.dropdown:hover #dropdown-menu-assignee {
    display: block;
    position: absolute;
    left: 0;
}

.dropdown-menu-header p a:hover {
    color: rgb(0, 50, 216);
}

.dropdown:hover span#assignee-dropdown-sts {
    color:rgb(0, 50, 216);
}

/*
    8. Pagination
*/

a.page-link {
    margin-right: 5px;
    text-decoration: underline;
}

div.results {
    padding-bottom: 15px;
    padding-left: 15px;
}

/*
    9. Alerts
*/

div.error {
    color: rgb(255, 0, 0);
    font-size: 13px;
}

.alerts {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.alerts li {
    font-weight: 600;
    text-align: right;
}

.alerts li.success {
    font-size: 21px;
    color:rgb(99, 99, 99);
}

.alerts li.warning {
    border: 3px solid rgb(255, 196, 0);
    border-radius: 10px;
    background-color: rgb(245, 226, 165);
    color:rgb(255, 196, 0);
}

.alerts li.error {
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgb(213, 248, 203);
    color:rgb(255, 0, 0);
}
/*

    Media Queries

    Screen width: 1200px

        1200-2. Containers
        1200-3. Navigation
        1200-4. Tables
        1200-8. Pagination
        1200.9. Alerts

*/

/*
    Screen width: 1200px
*/
@media only screen and (max-width: 1200px)
{
    /*
        1200-2. Containers
    */
    div.row-nav {
        border-bottom: 1px solid rgb(112, 112, 112);
    }

    div.members-body {
        width: 100%;
        box-shadow: none;
    }

    div#addtask-container,
    div#edittask-container, 
    div#admin-container {
        border: none;
    }
    /*
        1200-3. Navigation
    */

    div.nav {
        width: fit-content;
        border: none;
    }

    div.nav ul li a {
        padding: 30px 20px;
    }

    div.nav ul li a table#nav-last {
        width: 123px;
    }

    div.nav ul li a:hover {
        background-color:rgb(255,255,255);
        color:rgb(0, 50, 216);
    }
    
    div.nav ul li a:hover .nav-img {
        filter: invert(19%) sepia(58%) saturate(5689%) hue-rotate(226deg) brightness(79%) contrast(120%);
    }
    /*
        1200-4. Tables
    */
    table#header-table {
        width:100%;
    }

    table#header-table tr td#header-label {
        margin: 0 47px;
    }

    table.row-body-header-table {
        width: 100%;
        padding: 0 47px;
        border-bottom: 1px solid rgb(0,0,0);
    }

    table.row-body-header-table tr td.task-header {
        padding: 25px 0;
        font-size: 19px;
        color: rgb(25, 65, 247);
    }

    table#tasks tr td {
        padding-left: 46px;
    }

    table.selected-task-layout {
        border-bottom: 1px solid rgb(0,0,0);
    }

    table#selected-task {
        padding: 0 0 0 32px;
    }

    table#selected-task tr th {
        margin-left: 0;
    }

    table#selected-task-data-table {
        padding-right: 47px;
        text-align: right;
    }

    .display-author {
        float: right;
    }
    /*
        1200-8. Pagination
    */
    div.results {
        padding: 0 0 0 47px;
    }
    /*
        1200-9. Alerts
    */
    .alerts li.success {
        font-size: 19px;
    }
}